<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link rel="stylesheet" th:href="@{/style.css}">

	<title>Registration</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body class="teal lighten-2">
<div th:replace="admin-panel/admintemplate :: navbar"></div>

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
