<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link rel="stylesheet" th:href="@{/style.css}">

	<title>Registration</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body class="teal lighten-2">

<nav th:fragment="navbar">
	<div class="nav-wrapper">
		<ul id="nav-mobile" class="left">
			<li>
				<a th:href="@{/admin-panel/add-tournament/}">
					Добавить турнир
				</a>
			</li>
			<li>
				<a th:href="@{/admin-panel/delete-tournament/}">
					Удалить турнир
				</a>
			</li>
			<li>
				<a th:href="@{/admin-panel/change-tournament/}">
					Турниры
				</a>
			</li>
			<li>
				<a th:href="@{/admin-panel/get-all-records/}">
					Все записи на турниры
				</a>
			</li>
			<li>
				<a th:href="@{/admin-panel/get-user/}">
					Пользователи
				</a>
			</li>
		</ul>
		<div class="right">
			<form th:action="@{/makelogout}" method="post">
				<button class="btn teal darken-3 waves-effect waves-light" type="submit">logout</button>
			</form>
		</div>
		<div class="right spacing-right">
			<a class="btn teal darken-3 waves-effect waves-light" href="/tournament/registration">Панель пользователя</a>
		</div>
	</div>
</nav>

<!--<div class="row">
	<div class="col s2 red lighten-2 collection" th:fragment="navbar">

&lt;!&ndash;	турниры	&ndash;&gt;
		<div>
			<a class="collection-item waves-effect waves-light btn red lighten-2 z-depth-0 white-text" th:href="@{/admin-panel/add-tournament/}">
				Добавить турнир
			</a>
		</div>
		<div>
			<a class="collection-item waves-effect waves-light btn red lighten-2 z-depth-0 white-text" th:href="@{/admin-panel/delete-tournament/}">
				Удалить турнир
			</a>
		</div>
		<div>
			<a class="collection-item waves-effect waves-light btn red lighten-2 z-depth-0 white-text" th:href="@{/admin-panel/change-tournament/}">
				Отредактировать турнир
			</a>
		</div>

&lt;!&ndash;	записи	&ndash;&gt;
		<div>
			<a class="collection-item waves-effect waves-light btn red lighten-2 z-depth-0 white-text" th:href="@{/admin-panel/get-all-records/}">
				Все записи на турниры
			</a>
		</div>
&lt;!&ndash;	пользователи	&ndash;&gt;

		<div>
			<a class="collection-item waves-effect waves-light btn red lighten-2 z-depth-0 white-text" th:href="@{/admin-panel/get-user/}">
				Пользователи
			</a>
		</div>
	</div>
</div>-->

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
